<div class="columns is-multiline header">
  <div class="column is-offset-5">
    <img src="/images/logo.png" class="logo" alt="" width="">
  </div>

  <div class="column">
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-menu">
        <div class="navbar-end"></div>
        <a class="navbar-item" href="/">Home</a>
        <a class="navbar-item" href="/posts">Posts</a>
        <a class="navbar-item" href="/posts/new">New Post</a>
        <a class="navbar-item" href="#">Login</a>
        <a class="navbar-item" href="#">About</a>
      </div>
    </nav>

  </div>
</div>
