<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Echo</title>
    <link href="https://fonts.googleapis.com/css?family=Arapey" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Varela" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <link rel="stylesheet" href="/style.css">
    <script src="external.js" charset="utf-8"></script>
  </head>
  
  <body>
    <% include ./partials/_header %>
    <div class="container">
    <% for (const type in messages) { %>
      <div class="message is <%= type %>">
        <div class="message-body">
          <%= messages[type] %>
        </div>
      </div>
    <% } %>

      <%- body %>
      </div>
      <% include ./partials/_footer %>
  </body>
</html>
