<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Echo</title>
    <link href="https://fonts.googleapis.com/css?family=Arapey" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Varela" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <link rel="stylesheet" href="/style.css">
    <script charset="utf-8">

    let nightToggle = false;

      document.addEventListener('DOMContentLoaded', () => {

      // Get all "navbar-burger" elements
      const navbarBurgers = document.querySelector('.navbar-burger');
      const navbarMenu = document.querySelector('.navbar-menu');
      const navbar = document.querySelector('.navbar');
      const nightMode = document.querySelector('.night-mode');
      const blogCard = document.querySelector('.blog-card');
      const likesNumber = document.querySelector('.likes-number');

      navbarBurgers.addEventListener('click', () => {
        navbarBurgers.classList.toggle('is-active');
        navbarMenu.classList.toggle('is-active');
      });

      nightMode.addEventListener('click', () => {
        if (!nightToggle) {
          document.body.style.backgroundColor = "#282C34";
          document.body.style.color = "white";
          navbar.style.backgroundColor = "#21252B";
          document.querySelector('.navbar-menu').style.backgroundColor = "#21252B";
          document.querySelector('.logo').src = "/images/white-logo.png";
          if (blogCard) {
            blogCard.style.background = "linear-gradient(to right, #000000, #434343)";
          }

          if (document.querySelector('.card-content')) {
          document.querySelector('.card-content').style.color = "white";
          document.querySelector('.subtitle').style.color = "white";
          document.querySelector('p').style.color = "white";
          }
          document.querySelectorAll('h1').forEach(header => {
          header.style.color = "white"
          });
          document.querySelectorAll('.navbar-item').forEach(item => {
          item.style.color = "white"
          item.classList.toggle('night');
          });
          if (likesNumber) {
            likesNumber.style.color = "white";
          }
          nightToggle = true;

        } else if (nightToggle) {
          document.body.style.backgroundColor = "white";
          document.body.style.color = "#494949";
          navbar.style.backgroundColor = "#F5F5F5";
          document.querySelector('.logo').src = "/images/logonew.png";
          document.querySelector('.navbar-menu').style.backgroundColor = "#F5F5F5";
          if (blogCard) {
          blogCard.style.background = "linear-gradient(to bottom, #eef2f3, #ece9e6)";
          }
          if (document.querySelector('.card-content')) {
          document.querySelector('.card-content').style.color = "inherit";
          document.querySelector('.subtitle').style.color = "inherit";
          document.querySelector('p').style.color = "inherit";
          }
          document.querySelectorAll('h1').forEach(header => {
          header.style.color = "inherit";
          });
          document.querySelectorAll('.navbar-item').forEach(item => {
          item.style.color = "inherit"
          item.classList.toggle('night');
          });
          if (likesNumber) {
            likesNumber.style.color = "inherit";
          }

          nightToggle = false;
        }
      })
      // nightMode.addEventListener('touchstart', () => {
      //   document.body.style.backgroundColor = "#282C34";
      //   nightToggle = true;
      // })

    });
</script>
  </head>

  <body>
    <% include ./partials/_header %>
    <div class="container">
    <% for (const type in messages) { %>
      <div class="message is <%= type %>">
        <div class="message-body">
          <%= messages[type] %>
        </div>
      </div>
    <% } %>

      <%- body %>
      </div>
      <% include ./partials/_footer %>
  </body>
</html>
