.card {
  font-family: 'Varela', sans-serif;
  -webkit-box-shadow: -2px 14px 103px -4px rgba(0,0,0,0.54);
  -moz-box-shadow: -2px 14px 103px -4px rgba(0,0,0,0.54);
  box-shadow: -2px 14px 103px -4px rgba(0,0,0,0.54);
  margin-bottom: 25px;
  border-radius: 10px !important;
  transition: transform 0.6s;
}

.card:hover {
  transform: scale(1.03);
}

.card-content {
  border-radius: 10px !important;
}

.secondary-card {
  height: 200px;
  margin-bottom: -10px;
}

.card-title, .card-subtitle {

  font-family: 'Varela', sans-serif;
  color: white;
}

.card-title {
  text-transform: uppercase;
  letter-spacing: 0.1em !important;
  font-weight: 400 !important;
}

.card-subtitle {
  color: white;
}

.card-img {
  -webkit-box-shadow: 9px 13px 65px -1px rgba(0,0,0,0.57);
  -moz-box-shadow: 9px 13px 65px -1px rgba(0,0,0,0.57);
  box-shadow: 9px 13px 65px -1px rgba(0,0,0,0.57);
  Copy Text

}
.for-you {
  font-size: 30px;
}

.footer {
  margin: 0 !important;
  bottom: 0;
  position: relative;
}

.logo {
  width:196px;
  height:50px;
}

.fas {
  color: #85144b !important
}

.fa-heart {
  color: black;
}

.header {
  padding-top: 15px;
}

.heading {
  font-family: 'Varela', sans-serif;
  font-size: 2.7em;
  font-weight: 1000;
  letter-spacing: 0.3em;
}

.hidden {
  visibility: hidden;
  height: 0;
  width: 0;
}

.subtitle {
  padding-top: 10px;
  margin-bottom: 5px !important;
}

.author {
  margin: 0;
  padding-top: 20px;
}

.date {
  margin: 0;
  padding: 0;
}

.title {
  font-family: 'Varela', sans-serif;
  font-size: 40px !important;
}

.post-info {
  width: 100%;
}

.post-info textarea {
  border: none;
  border-radius: 0;
  box-shadow: none;
  resize: none;
}

.post-info textarea:focus {
  border: none;
  box-shadow: none;
  border-left: 1px solid grey;
}

.blog-title {
  font-family: 'Varela', sans-serif;
  font-size: 35px;
  text-transform: uppercase;
  font-weight: 1000 !important;
  letter-spacing: 0.07em;
}
/*.post-title {
  font-size: 46px;
  font-weight: bold;
  padding: 5px;
  padding-bottom: 0;
  padding-left: 0px;
  margin: 0;
}*/

.post-subtitle {
  font-size: 26px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  padding-left: 5px;
}

.post-coverpic {
  font-size: 20px;
  padding-left: 5px;
}

.post-tags{
  padding-left: 5px;
}

.post-body textarea {
  border: none;
  box-shadow: none;
  font-size: 20px;
  margin: 0;
  padding: 8px 0 0 5px;
}

.post-body textarea:focus {
  border: none;
  box-shadow: none;
}

.content {
  white-space: pre-wrap;
  padding: 0;
  margin-top: -50px;
}

.navbar {
  background-color: none;
}

.search-button {
  background-color: none;
  border: 0;
}

.search {
  box-shadow: none;
  border: none;
}

.search input{
  width: 100%;
  border-radius: 15px;
  border: 1px #000 solid;
  padding: 5px 5px 5px 10px;
  top: 0;
  left: 0;
  z-index: 5;
  box-shadow: none;
}

.search input:focus{
  box-shadow: none;
  outline-width: 0;
}

.search-result {
  padding-bottom: 25px;
}

.like {
  border: none;
  background: none;
}

.likes-number {
  font-size: 20px;
  padding-left: 5px;
}

button:focus {
  box-shadow: none;
  outline-width: 0;
}

.read-time {
  font-weight: 600;
  font-size: 16px;
}

.blog-card {
  background: #8e9eab;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #eef2f3, #ece9e6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -moz-box-shadow: 2px 14px 103px -4px rgba(0,0,0,0.54);
  box-shadow: -2px 10px 25px -4px rgba(0,0,0,0.34);
}

.blog-card:hover {
  transform: none;
}
