.footer {
  margin: 0 !important;
  bottom: 0;
  position: relative;
}

.logo {
  width:96px;
  height:50px;
}

.fas {
  color: #85144b
}

.fa-heart {
  color: black;
}

.header {
  padding-top: 15px;
}

.hidden {
  visibility: hidden;
  height: 0;
  width: 0;
}

.subtitle {
  padding-top: 10px;
}

.author {
  margin: 0;
  padding-top: 20px;
}

.date {
  margin: 0;
  padding: 0;
}

.title {
  font-family: 'Arapey', serif;
  letter-spacing: 0.01em;
}

.post-info {
  width: 100%;
}

.post-info textarea {
  border: none;
  border-radius: 0;
  box-shadow: none;
  resize: none;
}

.post-info textarea:focus {
  border: none;
  box-shadow: none;
  border-left: 1px solid grey;
}

.post-title {
  font-size: 46px;
  font-weight: bold;
  padding: 5px;
  padding-bottom: 0;
  padding-left: 0px;
  margin: 0;
}

.post-subtitle {
  font-size: 26px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  padding-left: 5px;
}

.post-coverpic {
  font-size: 20px;
  padding-left: 5px;
}

.post-tags{
  padding-left: 5px;
}

.post-body textarea {
  border: none;
  box-shadow: none;
  font-size: 20px;
  margin: 0;
  padding: 8px 0 0 5px;
}

.post-body textarea:focus {
  border: none;
  box-shadow: none;
}

.content {
  white-space: pre-wrap;
  padding: 0;
  margin-top: -50px;
}

.navbar {
  background-color: none;
}

.search {
  box-shadow: none;
  border: none;
}

.search input{
  width: 100%;
  border-radius: 15px;
  border: 1px #000 solid;
  padding: 5px 5px 5px 10px;
  top: 0;
  left: 0;
  z-index: 5;
  box-shadow: none;
}

.search input:focus{
  box-shadow: none;
  outline-width: 0;
}

.like {
  border: none;
  background-color: none;
}
