<figure class="image is-128x128">
  <img src="/<%= user.profilePic %>" alt="">
</figure>
<h1 class="title is-1"><%= user.username %></h1>
<h1 class="title is-2">Published posts</h1>

<% postsAuthored.forEach(post => { %>
<a href="/posts/<%= post.id %>"><h1 class="title is-1"><%= post.title %></h1>
<% }) %>
</a>
